<div class="flex flex-col gap-3">
  <div class="flex justify-between mt-3">
    <mat-paginator
      (page)="handlePageEvent($event)"
      [length]="products?.count"
      [pageSize]="shopParams.pageSize"
      [pageSizeOptions]="pageSizeOptions"
      [showFirstLastButtons]="true"
      [pageIndex]="shopParams.pageNumber - 1"
      aria-label="Select Page"
    >
    </mat-paginator>
    <div>
      <input
        matInput
        placeholder="Search"
        #searchProduct
        (keyup)="handleSearch(searchProduct)"
      />
      <button mat-stroked-button (click)="openFiltersDialog()">
        <mat-icon>filter_list</mat-icon>
        Filters
      </button>
      <button mat-stroked-button [matMenuTriggerFor]="sortMenu">
        <mat-icon>swap_vert</mat-icon>
        Sort
      </button>
    </div>
  </div>

  <div class="grid gap-4 grid-cols-5">
    @for (product of products?.data; track product.id) {
    <app-product-item [product]="product"></app-product-item>
    }
  </div>

  <mat-menu #sortMenu="matMenu">
    <mat-selection-list
      [multiple]="false"
      (selectionChange)="onSortChange($event)"
    >
      @for (sort of sortOptions; track $index) {
      <mat-list-option
        [value]="sort.value"
        [selected]="this.shopParams.sort === sort.value"
        >{{ sort.name }}
      </mat-list-option>
      }
    </mat-selection-list>
  </mat-menu>
</div>
